body{
    background: linear-gradient(176deg,rgb(243,130,239,100%),rgb(251,202,242,100%),white);
    width: 100%;
    min-height: 100vh;
    position: relative;
}

header {
    background: linear-gradient(176deg,rgb(243,130,239,100%),plum);
    padding: 10px 0;
}
.navbar {
    background-color: #333;
    color: plum;
}

.navbar-brand {
    color: white;
    font-size: 24px;
}

.navbar-nav a {
    color: white;
    margin-right: 20px;
}

.navbar-nav img {
    width: 59px;
    margin-right: 6px;
}

.navbar-nav .active {
    font-weight: bold;
}
header>nav>.container-fluid>img{
    margin-left: 300px;
}
.cus{
    margin-left: 150px;
}
.item{
    margin-left: 160px;
}
.order{
    margin-left: 170px;
}